<div *ngIf="this.load" class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
    <div class="card-body">
        <h1 style="color: #e43d0a; text-align: center;"> Actualizar Producto </h1>
    </div>
    <div class="row">
        <form  [formGroup]="forma"   >

            <div class="container">
             <div class="row mt-1">
                
               <div class="col-12">
                <h4>Actualización  <small> Ingrese los datos que quiere actualizar, y despues dar clic en el botón "Actualizar producto" para hacer la Actualización en la base de datos</small></h4>
                <hr>
                  <hr>
              <div class="form-group row">
                <label class="col-4 col-form-label">Nombre: </label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="text"
                  placeholder="Nombre"
                  formControlName="nom">
          
          
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-4 col-form-label">Marca:</label>
                <div class="col-8">
          
                  <input class="form-control"
                         type="text"
                         placeholder="Marca del producto"
                         formControlName="marca">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Precio:</label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="number"
                  placeholder="Precio del producto"
                  formControlName="precio">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Stock: </label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="number"
                  placeholder="Stock del producto"
                  formControlName="stock">
                </div>
              </div>
                <h4>Caracteristicas</h4>
                  <hr>
                <div class="form-group row">
                  <label class="col-4 col-form-label">Color: </label>
                  <div class="col-8">
            
                    <input class="form-control"
                    type="text"
                    placeholder="Color"
                    formControlName="color">
                  </div>
                </div>
                
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Tamaño:</label>
                    <div class="col-8">
                      <input class="form-control"
                      type="text"
                      placeholder="Tamaño del producto"
                      formControlName="tam">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Descripción: </label>
                    <div class="col-8">
                      <input class="form-control"
                      type="text"
                      placeholder="Descripción del producto"
                      formControlName="id_desc">
                    </div>
                  </div>
               
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Nombre del proveedor: </label>
                    <div class="col-8">
                        <select class="form-control" formControlName="id_prov" id="id_prov" name="id_prov" required>
                            <option value="" selected disabled> Seleccionar proveedor</option>
                                <option value="{{item._id}}" *ngFor="let item of this.proveedores"> {{item.Nombre}} </option>
                                <!-- <option value="Basquetbol"> Basquetbol </option>
                                <option value="Natacion"> Natación </option>
                                <option value="Running"> Running </option>
                                <option value="Ciclismo"> Ciclismo </option> -->
                            </select>
                    </div>
                  </div>
              
                <div class="form-group row">
                  <label class="col-4 col-form-label">Departamento: </label>
                  <div class="col-8">
                      <select class="form-control" formControlName="id_dep" id="id_dep" name="id_dep" required>
                          <option value="" selected disabled> Seleccionar departamento</option>
                              <option value="{{item._id}}" *ngFor="let item of this.departamentos"> {{item.Nombre}} </option>
                              <!-- <option value="Basquetbol"> Basquetbol </option>
                              <option value="Natacion"> Natación </option>
                              <option value="Running"> Running </option>
                              <option value="Ciclismo"> Ciclismo </option> -->
                          </select>
                  </div>
                </div>
                
             <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button clic="guardarCambios()" type="button" class="btn btn-warning mb-2 mr-3"><i class="fas fa-pencil-alt"> Actualizar producto</i></button>
                <!-- <button type="submit" class="btn btn-outline-success"  >
                  Actualizar producto
                </button> -->
              </div>
            </div>
            </div>
            
          </div>
          </div>
          </form>
    </div>
  </div>