<div class="row">
    <div class="col-8">
      <div class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
          <div class="card-body">
              <h1 style="color: #e43d0a; text-align: center;"> Proveedores </h1>
              <div class="row">
  
              
              <div class="col-1"><button type="button" class="btn btn-lg" style="background-color: #e43d0a; color: white;" [routerLink]="['/menuproveedor']"><i class="fas fa-undo-alt"></i> </button>
              </div>
              <div class="col-8"></div>
              <div class="col-3">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="buscar"
                      placeholder="Buscar "
                      aria-label=""
                      aria-describedby="basic-addon1"
                      [(ngModel)]="buscar"
                    />
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div *ngFor="let item of datos | buscador:buscar" class="profile-card-4 text-center"><img src="../../../../../assets/images/logousuario.png" width="80px" height="80px" class="img img-responsive">
                  <div class="profile-content">
                      <div class="profile-name">
                          
                      </div>
                      <div class="profile-description"> {{item.Nombre}}

                      </div>
                      <div class="row">
                          <div class="col-6">
                              <div class="profile-overview">
                                  <p>Email:</p>
                                  <h4> {{item.Email}} </h4></div>
                          </div>
                          <div class="col-6">
                              <div class="profile-overview">
                                  <p>Telefono:</p>
                                  <h4> {{item.Telefono}} </h4></div>
                          </div>
                          
                      </div>
                      <div class="row">
                          <!-- <button   type="button" (click)="actualizar(item)" class="btn btn-warning mb-2 mr-3"><i class="fas fa-pencil-alt"></i></button>
                  <button (click)="eliminar(item.id_reporte)"   type="button" class="btn btn-danger mb-2 ml-3" data-toggle="tooltip"
                              data-placement="right" title="Eliminar"><i class="fas fa-times"></i></button> -->
                              <div class="col-2"></div>
                              <div class="col-2">
                                  <button [routerLink]="['/consultapro/actualizarpro',item._id]"   type="button" class="btn btn-warning mb-2 mr-3"><i class="fas fa-pencil-alt"></i></button>
                              </div>
                              <div class="col-2"></div>
                              <div class="col-2">
                                  <button (click)="eliminar(item._id)"  type="button" class="btn btn-danger mb-2 ml-3" data-toggle="tooltip"
                                  data-placement="right" title="Eliminar"><i class="fas fa-times"></i></button>
                              </div>
                  
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="col-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  