<br>
<h2>
  HAZNOS SABER TU OPINION
</h2>
<div class="m-5 mt-1 text-center divider blocker">
  <form class="example-form text-center divider">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enviar a:</mat-label>
      <input matInput disabled value="SportIN@gmail.com">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre: </mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido:</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Correo:</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Porfavor ingresa un correo valido.
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Correo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mensaje </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <section>
      <button class="p-2 pl-5 pr-5" mat-raised-button color="primary" onclick="enviar()">ENVIAR</button>
    </section>
  </form>
</div>