/* .example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
} */

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.blocker{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divider{
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;

}