<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="../../../assets/images/section1.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Accesorios</h3>
						<a href="#" class="cta-btn">Comprar <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->

			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="../../../assets/images/section2.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Departamento<br>Ntación</h3>
						<a href="#" class="cta-btn">Comprar <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->

			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="../../../assets/images/section3.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Departamento<br>Basquetbol</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
