<div class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
    <div class="card-body">
        <h1 style="color: #f81111; text-align: center;">Wishlist</h1>
    </div>
    <div class="row">
        <div class="col-3 m-2" style="max-width: 18rem;" *ngFor="let item of datos">
            <div class="card text-center hov" >
                <div class="card-header bg-transparent border-success"> <b> Producto: altgo </b></div>
                <div class="card-body">
                  <h5 class="card-title">Descripcion: algo</h5>
                </div>
                <div class="card-footer border-success" style="background-color:rgb(209, 213, 236);">Precio: <b> Precio </b></div>
              
          </div>
        </div>
    </div>
  </div>