<ng-container *ngIf="this.bandera == false">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 m-3">
      <div class="alert alert-danger" role="alert">
        No hay nada en tu Wishlist <a [routerLink]="['/home']" class="alert-link"> Añade articulos aquí</a>.
      </div>
    </div>
    
    <div class="col-2"></div>
  </div>
  <div class="row">
       <img src="../../../assets/images/wishlist2.gif" width="400px" height="380px" alt="">
  </div>
  
 
</ng-container>
<div *ngIf="this.bandera" class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
    <div class="card-body">
        <h1 style="color: #f81111; text-align: center;">Wishlist</h1>
    </div>
    
    <div class="row">
        <div class="col-3 m-2" style="max-width: 18rem;" *ngFor="let item of datos">
            <div class="card text-center hov" >
                <div class="card-header bg-transparent border-success"> <b> Producto: {{item.Nombre}} </b></div>
                <div class="card-body">
                  <h5 class="card-title">Marca: {{item.Marca}} </h5>
                </div>
                <div class="card-footer border-success" style="background-color:rgb(209, 213, 236);">Precio: <b> {{item.Precio}} </b>
                  <div>
                    <a [routerLink]="['/carrito']">
                      <i class="fa fa-shopping-cart"></i>
                      <span>Comprar</span>
                      <!-- <div class="qty">3</div> -->
                    </a>
      
                  </div>
                </div>
              
          </div>
        </div>
    </div>
  </div>