<div *ngIf="this.load" class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
    <div class="card-body">
        <h1 style="color: #e43d0a; text-align: center;"> Actualizar proveedor </h1>
        
    </div>
    <div class="row">
        <form  [formGroup]="forma" (ngSubmit)="guardarCambios()"  >

            <div class="container">
             <div class="row mt-1">
               
               <div class="col-12">
                <h4>Actualizar  <small> Ingrese todos los datos que quiera actualizar, y despues dar clic en el botón "Actualizar proveedor" para actualizar en la base de datos</small></h4>
                <hr>
                  <hr>
              <div class="form-group row">
                <label class="col-4 col-form-label">Nombre:  </label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="text"
                  placeholder="Nombre"
                  formControlName="Nombre">
             
          
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-4 col-form-label">Apellido Paterno:</label>
                <div class="col-8">
          
                  <input class="form-control"
                         type="text"
                         placeholder="Apellido"
                         formControlName="ApePat">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Apellido Materno:</label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="text"
                 
                  placeholder="Apellido Materno"
                  formControlName="ApeMat">
                </div>
              </div>
                <h4>Domicilio y contacto</h4>
                  <hr>
                <div class="form-group row">
                  <label class="col-4 col-form-label">Calle:</label>
                  <div class="col-8">
            
                    <input class="form-control"
                    type="text"
                    placeholder="Calle"
                    formControlName="calle">
                  </div>
                </div>
                
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Numero interior:</label>
                    <div class="col-8">
                      <input class="form-control"
                      type="text"
                      placeholder="Numero interior"
                      formControlName="int">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Numero exterior:</label>
                    <div class="col-8">
                      <input class="form-control"
                      type="text"
                      placeholder="Numero exterior"
                      formControlName="ext">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Código postal:</label>
                    <div class="col-8">
                      <input class="form-control"
                      type="text"
                      placeholder="Código"
                      formControlName="cod">
                    </div>
                  </div>
        
                 <div class="form-group row">
                  <label class="col-4 col-form-label">Correo:</label>
                  <div class="col-8">
            
                    <input class="form-control"
                    value="datos.Email"
                    type="text"
                    placeholder="Correo electronico"
                    formControlName="Email">
            
            
                  </div>
                </div>
          
                <div class="form-group row">
                  <label class="col-4 col-form-label">Numero de telefono: </label>
                  <div class="col-8">
                    <input class="form-control"
                    type="text"
                    value="datos.Telefono"
                    placeholder="Numero de telefono"
                    formControlName="Telefono">
                  </div>
                </div>
              <br><br><br>
             <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="submit" class="btn btn-warning mb-2 mr-3"><i class="fas fa-pencil-alt"> Actualizar proveedor</i></button>
                <!-- <button type="submit" class="btn btn-outline-success"  >
                  Actualizar usuario
                </button> -->
              </div>
            </div>
            </div>
            
          </div>
          </div>
          </form>
    </div>
  </div>