<div class="container">
  <h2>Pedidos</h2>
  <hr>
  <button (click)="rastreo()" class="btn btn-warning">RASTREO</button>
  <table class="table table-hover">
    <tr *ngFor="let item of pedidos">
      <td>
        Fecha Pedido: {{item.FechaPedido}} <br>
        Fecha Entrega: {{item.FechaEntrega}} <br>
        <b>Estado:</b>  <br>
        Confirmado: {{item.Estado.Confirmado}}<br>
        Pagado: {{item.Estado.Pagado}}<br>
        Enviado: {{item.Estado.Enviado}}<br>
        Devolucion: {{item.Estado.Devolucion}}<br><br>
        <b>Detalle del Pago</b>: 
        Tipo: {{item.DetallePago.Tipo}} <br>
        No Tarjeta: {{item.DetallePago.NoTarjeta}} <br>
        Banco: {{item.DetallePago.Banco}} <br><br>
        Total: $ {{item.Total}} <br>
        Detalle del Envio: {{item.Detalle_Envio}} <br>
        <button (click)="rastreo()" class="btn btn-warning">RASTREO</button>
      </td>
      <td>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID_Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Sub_total</th>
            <th scope="col">IVA</th>
            <th scope="col">Descuento</th>
            <th scope="col">Total</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of detalle">
            <th scope="row">{{item}}</th>
            <td>{{item.ID_Producto}}</td>
            <td>{{item.Cantidad}}</td>
            <td>{{item.Precio}}</td>
            <td>{{item.Sub_total}}</td>
            <td>{{item.IVA}}</td>
            <td>{{item.Descuento}}</td>
            <td>{{item.Total}}</td>
            <td>{{item.Estado}}</td>
          </tr>
        </tbody>
      </td>
    </tr>
  </table>
</div>