<div class="container">
  <h2>Rastreo del pedido {{this.idPedidos}}</h2>
  <div class="card">
    <div class="card-header">
      Caracteristicas
    </div>
    <div class="card-body">
      <h3 class="card-title">Distribuidor: <small>{{rastreo.Distribuidor}}</small></h3>
      <h3 class="card-title">Observaciones: <small>{{rastreo.Observaciones}}</small></h3>
      <h3 class="card-title">Detalle:</h3>
      <h3 class="card-title">Estado: 
        <small *ngIf="rastreo.Detalle[0].Estado == 0">
            Procesando
        </small>
        <small *ngIf="rastreo.Detalle[0].Estado == 1">
          En camino
      </small>
      <small *ngIf="rastreo.Detalle[0].Estado == 2">
        Entregado
    </small>
      </h3>
      <h3 class="card-title">Fecha: <small>{{rastreo.Detalle[0].Fecha | date: 'dd/MM/yyyy' }}</small></h3>
      <h3 class="card-title">Hora: <small>{{rastreo.Detalle[0].Hora}}</small></h3>
      <button [routerLink]="['/perfil']" class="btn btn-primary">REGRESAR</button>
    </div>
  </div>
</div>