<div class="pro">
  <section class="sec">
    <h2>CONOCENOS</h2>
    <h4 class="text-justify"><strong>SportIN</strong> es una tienda de deporte que se dedica a proveer a sus clientes
      de articulos deportivos .<br> <br>
      Somos una tienda deportiva que esta abierta al publico en general, enfocada a deportistas de
      todas las edades.</h4>
    <div class="">
      <h4 class="text-uppercase fw-bold mb-4">
        Contacto
      </h4>
      <p><i class="fas fa-home me-3"></i> Ags, AGS 2000, MX</p>
      <p>
        <i class="fas fa-envelope me-3"></i>
        sportIN@gmail.com
      </p>
      <p><i class="fas fa-phone me-3"></i> + 51 449 369 86 74</p>
      <p><i class="fas fa-phone me-3"></i> + 51 449 190 39 21</p>
    </div>
  </section>
  <section class="sec">
    <h2>ENCUENTRANOS.</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3695.450257076854!2d-102.2897725!3d22.1469266!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429e29ca581b5e7%3A0xd5c0eff33edd24f5!2sEnrique%20Olivares%20Santana%2025%2C%20Progreso%20Nte%2C%2020678%20Pabell%C3%B3n%20de%20Arteaga%2C%20Ags.!5e0!3m2!1ses-419!2smx!4v1591656224651!5m2!1ses-419!2smx"
      width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </section>
</div>

<mat-divider inset></mat-divider>
<br><br>

<h4>Los derechos reservador de esta pagina esta dada por:</h4>

<div class="autores">
  <mat-card class="example-card ">
    <mat-card-subtitle>ISC</mat-card-subtitle>
    <mat-card-title><small>Jose Ramon Robledo Aguilar</small></mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3 pr-3">
        <i class="fab fa-instagram"></i>
      </a>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card ">
    <mat-card-subtitle>ISC</mat-card-subtitle>
    <mat-card-title><small>Share Nicole Flores Stiker</small></mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3 pr-3">
        <i class="fab fa-instagram"></i>
      </a>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card ">
    <mat-card-subtitle>ISC</mat-card-subtitle>
    <mat-card-title><small>Bernardo Constantino Galvan Rivera</small></mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3 pr-3">
        <i class="fab fa-instagram"></i>
      </a>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card ">
    <mat-card-subtitle>ISC</mat-card-subtitle>
    <mat-card-title><small>Mariela Teresa Serna Davila</small></mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset pl-3 pr-3">
        <i class="fab fa-instagram"></i>
      </a>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>