
  <div>
    <div class="profile-card-4 text-center"><img src="../../../../assets/images/platinum.jpg" width="80px" height="80px" class="img img-responsive">
      <div class="profile-content">
          <div class="profile-name">

          </div>
          <div class="profile-description"> Membresía platinum </div>
          <div class="row">
              <div class="col-6">
                  <div class="profile-overview">
                      <p>Precio mensual: </p>
                      <h4> $2300 </h4></div>
              </div>
              <div class="col-6">
                  <div class="profile-overview">
                      <p>Duración: </p>
                      <h4> 2 años </h4></div>
              </div>
              
          </div>
          <div class="row">
              <div class="col-12">
                <div class="profile-overview">
                    <p>Descripción :</p>
                    <h4> Esta membresía te de acceso a todas las ofertas de la tienda, precios en rebajas, monedro electronico y más </h4>
                    
                </div>
              </div>
          </div>
          <div class="row">

                  <div class="col-2"></div>
                 
                  <div class="col-2"></div>
                  <div class="col-2">
                      <button (click)="platinum()"  type="button" class="btn btn-sucess mb-2 ml-3" data-toggle="tooltip"
                      data-placement="right" title="Eliminar"><i class="fas fa-times"></i></button>
                  </div>
      
          </div>
      </div>
  </div> 

  <div class="profile-card-4 text-center"><img src="../../../../assets/images/oro.png" width="80px" height="80px" class="img img-responsive">
    <div class="profile-content">
        <div class="profile-name">

        </div>
        <div class="profile-description"> Membresía oro </div>
        <div class="row">
            <div class="col-6">
                <div class="profile-overview">
                    <p>Precio mensual: </p>
                    <h4> $1978 </h4></div>
            </div>
            <div class="col-6">
                <div class="profile-overview">
                    <p>Duración: </p>
                    <h4> 3 años </h4></div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
              <div class="profile-overview">
                  <p>Descripción :</p>
                  <h4> Esta membresía te de acceso a gran parte de las ofertas, además de 10% de descuento en las compras mayores a 10000 </h4>
                  
              </div>
            </div>
        </div>
        <div class="row">

                <div class="col-2"></div>
               
                <div class="col-2"></div>
                <div class="col-2">
                    <button (click)="oro()"  type="button" class="btn btn-sucess mb-2 ml-3" data-toggle="tooltip"
                    data-placement="right" title="Eliminar"><i class="fas fa-times"></i></button>
                </div>
    
        </div>
    </div>
</div> 

<div class="profile-card-4 text-center"><img src="../../../../assets/images/bronce.png" width="80px" height="80px" class="img img-responsive">
  <div class="profile-content">
      <div class="profile-name">

      </div>
      <div class="profile-description"> Membresía bronce </div>
      <div class="row">
          <div class="col-6">
              <div class="profile-overview">
                  <p>Precio mensual: </p>
                  <h4> $1090 </h4></div>
          </div>
          <div class="col-6">
              <div class="profile-overview">
                  <p>Duración: </p>
                  <h4> 1 años </h4></div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-12">
            <div class="profile-overview">
                <p>Descripción :</p>
                <h4> Esta membresía sólo aplica para categorias de basquetbol y futbol </h4>
                
            </div>
          </div>
      </div>
      <div class="row">

              <div class="col-2"></div>
             
              <div class="col-2"></div>
              <div class="col-2">
                  <button (click)="bronce()"  type="button" class="btn btn-sucess mb-2 ml-3" data-toggle="tooltip"
                  data-placement="right" title="Eliminar"><i class="fas fa-times"></i></button>
              </div>
  
      </div>
  </div>
</div> 

</div>
<div class="container">
  <h2>Membresia</h2>
  <div class="container">
    <h2>Propietario: {{propietario}}</h2>
    <div class="card">
      <div class="card-header">
        Caracteristicas
      </div>
      <div class="card-body">
        <h3 class="card-title">Duracion: <small>{{membresia.Duracion}}</small></h3>
        <h3 class="card-title">Tipo: <small>{{membresia.Tipo}}</small></h3>
        <h3 class="card-title">Detalle:</h3>
        <h3 class="card-title">Fecha Inicio: <small>{{membresia.FechaInicio}}</small></h3>
        <h3 class="card-title">Fecha de Vencimiento: <small>{{membresia.FechaVencimiento}}</small></h3>
      </div>
    </div>
  </div>
</div>

