
<div class="container">
  <h2>Membresia</h2>
  <div class="container">
    <h2>Propietario: {{propietario}}</h2>
    <div class="card">
      <div class="card-header">
        Caracteristicas
      </div>
      <div class="card-body">
        <h3 class="card-title">Duracion: <small>{{membresia.Duracion}}</small></h3>
        <h3 class="card-title">Tipo: <small>{{membresia.Tipo}}</small></h3>
        <h3 class="card-title">Detalle:</h3>
        <h3 class="card-title">Fecha Inicio: <small>{{membresia.FechaInicio}}</small></h3>
        <h3 class="card-title">Fecha de Vencimiento: <small>{{membresia.FechaVencimiento}}</small></h3>
      </div>
    </div>
  </div>
</div>