<div class="container center">
  <table class="center align-center">
    <tr>
      <td>
        <h2>Bienvenido <b>{{user.Nombre}}</b> </h2>
      </td>
      <td>
        <img class="imaUser" src="../../../assets/images/gif1.gif" alt="">
      </td>
      <td>
        <h3>Datos:</h3>
        <p>
          <b>Nombre: </b>{{user.Nombre}} {{user.ApePat}} {{user.ApeMat}} 
          <br><br>
          <b>Telefono: </b>{{user.Telefono}}
          <br><br>
          <b>Email: </b>{{user.Email}}
        </p>
        <hr>
        <p>
          Mantendremos la información que nos has proporcionado en modo confidencial.
        </p>
      </td>
    </tr>
  </table>

</div>