<div class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
    <div class="card-body">
        <h1 style="color: #e43d0a; text-align: center;"> Actualizar Rastreo </h1>
        <div class="col-1"><button type="button" class="btn btn-lg" style="background-color: #e43d0a; color: white;" [routerLink]="['/menurastreo']"><i class="fas fa-undo-alt"></i> </button>
        </div>
    </div>
    <div class="row">
        <form  [formGroup]="forma" (ngSubmit)="guardarCambios()"  >

            <div class="container">
             <div class="row mt-3">
                <div class="col-2"></div>
               <div class="col-10">
                <h4>Actualizar  <small> Ingrese todos los datos que quiera actualizar, y despues dar clic en el botón "Actualizar rastreo" para actualizar en la base de datos</small></h4>
                <hr>
                  <hr>
              <div class="form-group row">
                <label class="col-4 col-form-label">Número de rastreo:</label>
                <div class="col-8">
          
                  <input class="form-control"
          
                  type="number"
                  placeholder="Número de rastreo"
                  formControlName="numrastreo">
          
          
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-4 col-form-label">Distribuidor:</label>
                <div class="col-8">
          
                  <input class="form-control"
                         type="text"
                         placeholder="Distribuidor"
                         formControlName="distribuidor">
                </div>
              </div>
              <h4>Detalles</h4>
                  <hr>
              <div class="form-group row">
                <label class="col-4 col-form-label">Observaciones:</label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="text"
                  placeholder="Observaciones del rastreo"
                  formControlName="observaciones">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label">Fecha: </label>
                <div class="col-8">
          
                  <input class="form-control"
                  type="date"
                  placeholder="Fecha"
                  formControlName="fecha">
                </div>
              </div>
                
                <div class="form-group row">
                  <label class="col-4 col-form-label">Hora: </label>
                  <div class="col-8">
            
                    <input class="form-control"
                    type="time"
                    placeholder="Hora"
                    formControlName="hora">
                  </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-4 col-form-label">Estado: </label>
                    <div class="col-8">
                        <select class="form-control" formControlName="estado" id="estado" name="estado" required>
                            <option value="" selected disabled> Seleccionar estado</option>
                                <option value="0"> Procesando </option>
                                <option value="1"> En camino </option>
                                <option value="2"> Entregado </option>
                            </select>
                    </div>
                  </div>
                
             <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="button" class="btn btn-warning mb-2 mr-3"><i class="fas fa-pencil-alt"> Actualizar rastreo</i></button>
              </div>
            </div>
            </div>
            
          </div>
          </div>
          </form>
    </div>
  </div>