<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <!-- <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> 449-934-23-23</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> sportin@contacto.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Amole #139</a></li>
            </ul> -->
            <!-- <ul class="header-links pull-right">
                <li><a href="#">  USD</a></li> -->
                <!-- <i class="fa fa-dollar"></i> -->
                <!-- <li><a href="#"> My Account</a></li> -->
                <!-- <i class="fa fa-user-o"></i> -->
            <!-- </ul> -->
        </div>
    </div>
    <!-- /TOP HEADER -->
<!-- NAVIGATION -->
<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SportIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
      </ul>
      <button type="button" data-toggle="modal" data-target="#logIn" class="btn btn-outline-dark">Iniciar sesión</button>
      <!-- <span class="navbar-text">
        Navbar text with an inline element
      </span> -->
    </div>
  </nav>


    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <!-- <a href="#" class="logo">
                            <img src="../../../assets/images/logo.jpg" alt="">
                        </a> -->
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">Categorias</option>
                                <option value="1">Categoria 1</option>
                                <option value="1">Categoria 2</option>
                            </select>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">3</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="../../../assets/images/product.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="../../../assets/images/product_10.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">View Cart</a>
                                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="logIn" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content" style="background-color:  rgb(245, 251, 255);">
        <div class="modal-header"  style="background-color: #142b3b">
          <h1 class="modal-title text-white" id="exampleModal3Label"> <b> Iniciar sesion</b></h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="usr">Correo Electronico</label>
          <input #usr placeholder="ejemplo@hotmail.com" class="form-control" type="email" id="usr" style="background-color: rgb(245, 251, 255) ;">
          
          <label for="contra">Contraseña</label>
          <input #pass type="password" class="form-control" id="contra" style="background-color: rgb(245, 251, 255) ;" >
  
        </div>
        <div style="text-align: center;">
            <!-- (click)="iniciar(usr.value, pass.value)" -->
          <button type="button"  class="btn text-white " style="background-color: #D10024" data-dismiss="modal" >Iniciar Sesión </button> <br>
          <button  type="button" class="btn" style="color: #5ebdb2;" data-dismiss="modal"> <small>Registrarte</small></button>
        </div>
      </div>
    </div>
  </div>
  
